html {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

nav {
  margin: auto;
}

nav li {
  list-style-type: none;
  width: 100px;
  float: left;
}
